body{
  color: #213a94;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#container{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #DEDEDE;
  margin: 0 auto;
}
#cabecera{
  font-weight: bold;
  font-size: 30pt;
  color: blueviolet;
  display: grid;
  grid-template-columns: 100px 1fr;
}
#cabecera div img{
  width: 100%;
  max-width: 173px;
}
#cabecera div:last-child{
  text-align: right;
}
#spTitle{ 
  font-weight: normal;
  font-size: 20pt;;
}
#container h3{
  font-size: 15pt;
}

#container p{
  color: #273b47;
  font-family: Arial, Helvetica, sans-serif;
}
#footer{
  background: #DEDEDE;
  color: blueviolet;
  padding: 10px;
  text-align: center;
}
