body{
  color:#D3D3DE;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#container{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #DEDEDE;
  margin: 0 auto;
}

#container h3{
  font-size: 15pt;
}
